# Created by .ignore support plugin (hsz.mobi)
/node_modules/
/.idea/

package-lock.json

yarn.lock
/react-sketch-nc.sketchplugin/
/react-sketch-nc.sketchplugin/Contents/Sketch/
/react-sketch-nc.sketchplugin/Contents/Sketch/main2.js
/react-sketch-nc.sketchplugin
